/*.blockUI  {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}*/


.blockUI {  }

.block_popup { background: url("../../images/sales/login_popup/popup_back.png") no-repeat scroll left top transparent; 
        padding: 227px 131px 46px 96px; margin:0; width: 593px ; height: 267px; position:absolute; margin-top:-284px; top: 50%;
        right:0; left:auto; text-align: center; color:#000; border:none; background-color:transparent; cursor:auto; 
        font-size:18px; font-weight:bold; font-family:"letter-gothic-std",monospace; text-transform: uppercase; }
/*.popup_register, .popup_register_2, .popup_login, .forgot_form { background:white; display:block;
        width:100% ;height:100%; padding:15px; }*/
.block_popup_inner { background:white; padding:15px; width: 563px ; height: 237px; position:relative; }
#backstretch { z-index:1001 !important; }

.popup_login label, .popup_register_2 label { width: 130px; text-align: left; }
.popup_login .input-text, .popup_register_2 .input-text { float:left; }
label[for=terms] { width: auto; }
.validation-advice { text-align:left; }
.terms_agreement { float: left; margin-right: 5px; margin-toP: 3px; }
.login_overlay { z-index: 1000;  border:none; margin:0; padding:0; width: 100%; height: 100%; top: 0px; left: 0px; cursor: auto;
    position: fixed; background-color: #000; background: rgba(0, 0, 0, 0.6); }


.block_popup .popup_title { color: #86636e; font-family:'Cantata One',Tahoma,serif; font-size:28px; line-height: 32px;
    width: 380px; text-align: left; padding:9px 5px 5px 28px; text-transform:none; letter-spacing: -0.5px; }
.block_popup .popup_backlink { color: #ff7268;  }
.block_popup .popup_content { background:url("../../images/sales/login_popup/reg_backchunk.png") no-repeat scroll left top transparent;
    text-align:left;font-size: 16px; line-height: 35px; padding-top:17px; width: 533px; height: 158px; color: #7f767e; 
    /*margin-top:-4px;*/ letter-spacing: 1.5px; /*2.7px*/; padding-left: 30px; }
.block_popup .popup_content .pc_l {font-weight: bold;line-height: 1.5; font-size: 15px; margin: 0; height: 17px;
    overflow: hidden; margin-top: 4px; margin-bottom:0px; }
.block_popup .popup_content .pc_l2 { margin-top: 16px; }

.block_popup.popup_register_2 .popup_content,
.block_popup.popup_login .popup_content { background:url("../../images/sales/login_popup/log_backchunk.png") no-repeat scroll left top transparent;
    text-align:left;font-size: 17px; line-height: 33px; padding-top:13px; width: 563px; height: 156px; color: #7f767e; }
    
.block_popup .control_link { position:absolute; top:15px; right:16px; }
.block_popup .control_link a { display:block; width: 79px; height:25px; overflow:hidden; text-decoration:underline;
    padding-top:20px; padding-left:51px; font-size:16px; font-weight: bold; color: #ff7268; text-align: left; letter-spacing:2px; }
.block_popup .control_link a:hover { text-decoration: underline; }
.block_popup .control_link #login_link{background: url("../../images/sales/login_popup/hi_red.png") no-repeat scroll left top transparent;}
.block_popup #forgot_link, .block_popup #forgot_link:hover { display:block; overflow:hidden; text-decoration:none;
    font-size:15px; font-weight: bold; color: #ff7268; text-align: left; margin-left:-2px; margin-top: 10px; max-width: 260px;  }
.block_popup .control_link #back_to_login { width: 173px; padding-left:10px; }


.block_popup .popup_content form { margin-top: 21px; }
.block_popup .popup_content #register-form1 { height: 64px; display:block; position:relative;}
.block_popup .popup_content #register-form,
.block_popup .popup_content #login-form { position:relative; display: block; padding-top:0px; margin-top: 12px; }
.block_popup.forgot_form .popup_content form { position:relative; display: block; height: 64px}

.block_popup .popup_content .actions button.button { width: 217px;height:18px; position:absolute; top:4px; right:12px; 
    background:none; border:none; color: white; margin:17px 0; text-transform:uppercase; }
.block_popup .popup_content .actions button.button span /*{ background:none; border:none; color:white; text-align:left;
    font-family:"letter-gothic-std",monospace; font-size:17px; height: 50px; line-height:55px; width:180px;margin-right:16px;
    padding:0 0 0 21px; background: url("../../images/dot_arrow_right.png") no-repeat scroll right 20px transparent; }*/
    { background: url("../../images/dot_arrow_right.png") no-repeat scroll right 2px transparent;border:none; color: white;
    display: block; font-family: "letter-gothic-std",monospace; font-size: 17px; height: 23px; width: 184px; line-height: 23px;
    padding: 0 0 0 21px; margin-right: 12px; position: absolute; left: 0; margin-top: -8px; top: 50%; text-align: left; 
    letter-spacing: 0.7px; }
    
.block_popup .popup_content .form-list input /*{ width: 278px; height: 37px; border:none;outline:none; line-height: 37px;
    padding-left:24px; background:none;  padding-top:11px; font-size: 16px; font-family: "letter-gothic-std",monospace;
    box-shadow: none; text-transform:uppercase; color: #7f767e; font-weight:bold; } */
    {width: 264px; height: 23px; border: none; outline: none; line-height: 1.5; background: none;
    font-size: 15px; font-family: "letter-gothic-std",monospace; box-shadow: none; text-transform: uppercase;
    color: #7F767E; font-weight: bold; margin-left: -16px; margin-top: 9px; padding: 10px 13px 5px 13px; letter-spacing: 2px; }


.block_popup .popup_content .form-list li { position:relative; }
.block_popup .popup_content .form-list li .validation-advice { position:absolute; bottom:-14px;  }

.block_popup.popup_register_2 .popup_content .actions button.button,
.block_popup.popup_login .popup_content .actions button.button  { top: 65px; right:38px;  }

 .block_popup.forgot_form .popup_content .actions button.button { right: 30px; top: -1px; }
 .block_popup.forgot_form .popup_content .actions button.button span span { text-align: center; }

.block_popup.popup_login .popup_title { padding-top: 17px; }
.block_popup.popup_login .popup_content { margin-top:-14px; }
.block_popup.popup_login .control_link { top:12px; right:7px;  }
.block_popup.popup_login #login_pass { margin-top: 15px; }

#home_popup_menu { display:block; position:fixed; bottom:0; z-index: 4000; height:28px; border:none; left:0; right:0;
    background: url("../../images/sales/login_popup/hp_back.png") repeat scroll left top transparent;
    line-height: 1.5; margin:0; list-style:none;  padding-right:142px; font-weight:bold; }

#home_popup_menu .hp_copyright { float:left;  margin-left:84px; font-size: 15px; color:#ede5dd; padding-top: 6px; }
#home_popup_menu .hp_menuitem { float:right; height: 28px; display:inline-block; padding-right:1px; 
    background: url("../../images/sales/login_popup/stitch.png") no-repeat scroll left top transparent; }
#home_popup_menu .hp_menuitem a { display:block; height: 21px; padding:6px 32px 0 30px; font-size: 15px; color:#ede5dd; 
    text-decoration:none; text-transform: uppercase; }
#home_popup_menu .hp_menuitem:first-child a { 
    background:url("../../images/sales/login_popup/stitch.png") no-repeat scroll right top transparent; }
