.blockUI  {
   
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
 
}

.popup_login label,
.popup_register_2 label {
    width: 130px;
    text-align: left;
}

.popup_login .input-text,
.popup_register_2 .input-text {
    float:left;
}

label[for=terms] {
    width: auto;
}

.validation-advice {
    text-align:left;
}

.terms_agreement {
    float: left;
    margin-right: 5px;
    margin-toP: 3px;
}
