<?xml version="1.0"?>
 
<config>
    <modules>
        <Wonderhop_Invitations>
            <version>0.1.0</version>
        </Wonderhop_Invitations>
    </modules>
     <frontend>
        <routers>
           <invitations>
                <use>standard</use>
                <args>
                    <module>Wonderhop_Invitations</module>
                    <frontName>invite-friends</frontName>
                </args>
           </invitations>
        </routers> 
        <layout>
            <updates>
                <wonderhop_invitations>
                    <file>wonderhop_invitations.xml</file>
                </wonderhop_invitations>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <invitations>
                <class>Wonderhop_Invitations_Model</class>
                <resourceModel>invitations_mysql4</resourceModel>
            </invitations>  
            <invitations_mysql4>
                <class>Wonderhop_Invitations_Model_Mysql4</class>
                <entities>
                    <invitations>
                        <table>invitations</table>
                    </invitations>
                </entities>
            </invitations_mysql4>          
        </models> 
       <helpers>
             <wonderhop_invitations>
                <class>Wonderhop_Invitations_Helper</class>
             </wonderhop_invitations>
        </helpers>
		<resources>
			<wonderhop_invitations_setup>
				<setup>
					<module>Wonderhop_Invitations</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</wonderhop_invitations_setup>
			<wonderhop_invitations_write>
				<connection>
					<use>core_write</use>
				</connection>
			</wonderhop_invitations_write>
			<wonderhop_invitations_read>
				<connection>
					<use>core_read</use>
				</connection>
			</wonderhop_invitations_read>
		</resources>
		 <blocks>
            <wonderhop_invitations>
                    <class>Wonderhop_Invitations_Block</class>
            </wonderhop_invitations>
        </blocks>
    </global>
</config>
 
