<?xml version="1.0"?>
<config>
  <modules>
    <Braintree>
      <version>0.6.7</version>
    </Braintree>
  </modules>

  <global>
    <blocks>
      <braintree>
        <class>Braintree_Block</class>
      </braintree>
    </blocks>

    <models>
      <braintree>
        <class>Braintree_Model</class>
      </braintree>
    </models>

    <resources>
      <braintree_setup>
        <setup>
          <module>Braintree</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </braintree_setup>
      <braintree_write>
        <connection>
          <use>core_write</use>
        </connection>
      </braintree_write>
      <braintree_read>
        <connection>
          <use>core_read</use>
        </connection>
      </braintree_read>
    </resources>
    <helpers>
      <braintree>
        <class>
            Braintree_Helper
        </class>
      </braintree>
    </helpers>
  </global>

  <default>
    <payment>
      <braintree>
        <active>0</active>
        <cctypes>AE,VI,MC,DI</cctypes>
        <model>braintree/paymentmethod</model>
        <order_status>processing</order_status>
        <title>Credit Card (Braintree)</title>
        <payment_action>authorize</payment_action>
        <allowspecific>0</allowspecific>
      </braintree>
    </payment>
  </default>
  <frontend>
    <layout>
      <updates>
        <braintree>
          <file>braintree.xml</file>
        </braintree>
      </updates>
    </layout>
    <routers>
      <braintree>
        <use>standard</use>
        <args>
          <module>Braintree</module>
          <frontName>braintree</frontName>
        </args>
      </braintree>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <braintree>
          <file>braintree.xml</file>
        </braintree>
      </updates>
    </layout>
    <routers>
      <braintree>
        <use>admin</use>
        <args>
          <module>Braintree</module>
          <frontName>braintree</frontName>
        </args>
      </braintree>
    </routers>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Braintree before="Mage_Adminhtml">Braintree</Braintree>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config>
