<?xml version="1.0"?>

<!-- 
/**
 * EYEMAGINE - The leading Magento Solution Partner
 *
 * Merchandising Made Easy
 *
 * @package Eyemagine_Merchandising
 * @author EYEMAGINE <support@eyemaginetech.com>
 * @category Eyemagine
 * @copyright Copyright (c) 2013 EYEMAGINE Technology, LLC (http://www.eyemaginetech.com)
 * @license http://opensource.org/licenses/afl-3.0.php Academic Free License (AFL 3.0)
 *
 */
 -->
 
<config>
    <modules>
        <Eyemagine_Merchandising>
            <version>1.0.5.2</version>
        </Eyemagine_Merchandising>
    </modules>
	<global>
		<!-- Controller rewrite -->
        <rewrite>
			<eyemagine_merchandising_catalog_category_merchandising>
                <from><![CDATA[#^/admin/catalog_category/merchandising/#]]></from>
                <to>/eyemagine/catalog_category/merchandising/</to>
            </eyemagine_merchandising_catalog_category_merchandising>
        </rewrite>
        <blocks>
            <adminhtml>
                <rewrite>
					<catalog_category_tab_product>Eyemagine_Merchandising_Block_Catalog_Category_Tab_Product</catalog_category_tab_product>
					<catalog_category_tab_merchandising>Eyemagine_Merchandising_Block_Catalog_Category_Tab_Merchandising</catalog_category_tab_merchandising>
					<widget_grid_column_renderer_dragable>Eyemagine_Merchandising_Block_Widget_Grid_Column_Renderer_Dragable</widget_grid_column_renderer_dragable>
					<widget_grid_column_renderer_thumbnail>Eyemagine_Merchandising_Block_Widget_Grid_Column_Renderer_Thumbnail</widget_grid_column_renderer_thumbnail>
                </rewrite>
            </adminhtml>
            <eyemagine_merchandising>
                <class>Eyemagine_Merchandising_Block</class>
            </eyemagine_merchandising>
        </blocks>
        <helpers>
            <merchandising>
                <class>Eyemagine_Merchandising_Helper</class>
            </merchandising>
        </helpers>
        <resources>
            <merchandising_setup>
                <setup>
                    <module>Eyemagine_Merchandising</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </merchandising_setup>
            <merchandising_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </merchandising_write>
            <merchandising_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </merchandising_read>
        </resources>
		<events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <merchandising_observer>
                        <type>model</type>
                        <class>Eyemagine_Merchandising_Model_Observer</class>
                        <method>addMerchandisingTab</method>
                    </merchandising_observer>
				</observers>
            </adminhtml_catalog_category_tabs>
        </events>
	</global>
    <admin>
        <routers>
            <eyemagine_merchandising>
                <use>admin</use>
                <args>
                    <module>Eyemagine_Merchandising</module>
                    <frontName>eyemagine</frontName>
                </args>
            </eyemagine_merchandising>
            <adminhtml>
                <args>
                    <modules>
                   	<Eyemagine_Merchandising before="Mage_Adminhtml_Catalog">Eyemagine_Merchandising</Eyemagine_Merchandising>
                   </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <stores>
        <admin>
            <design>
                <package>
                     <name>default</name>
                </package>
				<theme>
					<default>default</default>
					<template>eyemagine</template>
					<skin>eyemagine</skin>
					<layout>eyemagine</layout>
					<locale>default</locale>
				</theme>
             </design>
         </admin>
    </stores>
</config>