<?xml version="1.0"?>
<config>
	<default>
		<Wonderhop_Registerqueue>
			<general>
				<registerqueue_active>1</registerqueue_active>
				<registerqueue_queue>6</registerqueue_queue>
				<registerqueue_email_template>9</registerqueue_email_template>
			</general>
		</Wonderhop_Registerqueue>
	</default>
    <modules>
        <Wonderhop_Registerqueue>
            <version>0.1.0</version>
        </Wonderhop_Registerqueue>
    </modules>
    <frontend>
        <events>
            <controller_action_layout_render_before_customer_account_create>
                <observers>
                    <bypass_magento_account_create>
                        <type>singleton</type>
                        <class>registerqueue/observer</class>
                        <method>bypassMagentoAccountCreate</method>
                    </bypass_magento_account_create>
                </observers>
            </controller_action_layout_render_before_customer_account_create>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <Wonderhop_Registerqueue>
                                            <title>Registration Process</title>
                                        </Wonderhop_Registerqueue>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml> 
    <global>
        <models>
            <registerqueue>
                <class>Wonderhop_Registerqueue_Model</class>
                <resourceModel>registerqueue_mysql4</resourceModel>
            </registerqueue>  
            <registerqueue_mysql4>
                <class>Wonderhop_Registerqueue_Model_Mysql4</class>
                <entities>
                    <registerqueue>
                        <table>registerqueue</table>
                    </registerqueue>
                </entities>
            </registerqueue_mysql4>          
        </models> 
       <helpers>
             <wonderhop_registerqueue>
                <class>Wonderhop_Registerqueue_Helper</class>
             </wonderhop_registerqueue>
        </helpers>
		<resources>
			<wonderhop_registerqueue_setup>
				<setup>
					<module>Wonderhop_Registerqueue</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</wonderhop_registerqueue_setup>
			<wonderhop_registerqueue_write>
				<connection>
					<use>core_write</use>
				</connection>
			</wonderhop_registerqueue_write>
			<wonderhop_registerqueue_read>
				<connection>
					<use>core_read</use>
				</connection>
			</wonderhop_registerqueue_read>
		</resources>
		 <blocks>
            <wonderhop_registerqueue>
                    <class>Wonderhop_Registerqueue_Block</class>
            </wonderhop_registerqueue>
        </blocks>
    </global>
	<crontab>
		<jobs>
			<registerqueue>  
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>registerqueue/cron::executeCron</model>
                </run>
			</registerqueue> 
		</jobs>
	</crontab>
</config>
 
